
.container {
    display: flex;
    /* justify-content: space-evenly; */
    /* align-items: center; */
    background-color: var(--color-tile);
    border-radius: 15px;
    height: 100%;
}

.titleDiv {
    display: block;
    flex-direction: column;
    justify-content: center;
    width: 70%;
    height: 100%;
    border-top-left-radius: 15px;
    border-bottom-left-radius: 15px;

}

.title {
    margin-left: 10px;
    margin-top: 5px;
    width: 70%;
}

.graph {
    width: 20%;
}

@media (max-width: 600px) {
    .container {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
}